@media only screen and (max-width:656px) {

    .header {
        width: 100%;
    }

    .header__list {
        display: none;
    }

    .header__top--3-line {
        display: block;
    }

    .btn {
        margin-right: 30px;
        padding: 9px 24px;
        font-size: 1.2rem;
        line-height: 1.16; /* 116.667% */
    }

    .header__body {
        width:100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__body--content {
        width: 100%;
    }

    .header__content--heading {
        width: 66%;
        font-size: 3rem;
        line-height: 1.33; /* 133.333% */
    }

    .header__content--desc {
        width: 78%;
        font-size: 1.4rem; /* 171.429% */
    }

    .header__content--button {
        margin-top: 22px;
        gap: 25px;
    }

    .Get-in-touch {
        padding: 5px 20px;
        font-size: 1.2rem;
        line-height: 2.33;
    }

    .header__body--images {
        margin-top: 67px;
    }

    .header__body--img {
        width: 85.351px;
        height: 196.898px;
    }

    .header__logo-branch {
        position: relative;
        border-radius: 30px;
    }

    .header__logo-branch--list {
        position: absolute;
        right: 36px;
        top: 22px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "aa bb"
        "cc dd"
        "ee ee";
        gap: 10px;
    }

    .Google {
        grid-area: aa;
    }

    .slack {
        grid-area: bb;
    }

    .Agworld {
        grid-area: cc;
    }

    .RioTinto {
        grid-area: dd;
    }

    .HEROKU {
        grid-area: ee;
        justify-content: center;
    }

    /* service */

    .service__heading {
        width: 91.5%;
    }

    .service__list {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        border-radius: 20px;
    }

    .service__item {
        min-width: 100%;
        flex-shrink: 0;
        scroll-snap-align: start;
    }

    /* about */

    .about-us {
        width: 100%;
    }

    .about-us__main {
        flex-direction: column;
    }

    .about-us__img {
        width: 153.404px;
        height: 257.462px;
    }

    .about-us-card {
        left: 51%;
        bottom: -90px;
    }

    .aboutus__body {
        margin-top: 153px;
        margin-left: auto;
    }

    .about-us__heading {
        font-size: 3rem;
        width: 80%;
    }

    .about-us__desc {
        color: var(--text-color-light-gray, #7D8188);
        font-size: 1.4rem;
        width: 86%;
    }

    .about-us__info--desc {
        color: var(--text-color-light-gray, #7D8188);
        font-size: 1rem;
    }

    .about-us__info--number {
        font-size: 3.2rem;
    }
}

