@media only screen and (max-width:41em) {

    .header__list {
        display: none;
    }

    .header__top--3-line {
        display: block;
    }

    .btn {
        margin-right: 30px;
        padding: 9px 24px;
        font-size: 1.2rem;
        line-height: 1.16; /* 116.667% */
    }

    .header__body {
        flex-direction: column;
        align-items: center;
    }

    .header__body--img {
        width: 85.351px;
        height: 196.898px;
    }
}