* {
   box-sizing: border-box;
}

:root {
    --Primary-color-black-green: #143C3C;
    --Primary-color-black: #152427;
    --text-color-black-gray: #575D5E;
    --Scondery-color-light-green: #E2EDDF;
}

html {    
    color: var(--Primary-color-black);
    font-size: 62.5%;
}

a {
    color: #000;
    text-decoration: none;
}

.btn {
    color: #fff;
    padding: 15px 54px;
    border-radius: 40px;
    border: 1.5px solid #143C3C;
    background: var(--Primary-color-black-green, #143C3C);
}

.btn:hover {
    color: #000;
    background: rgba(9, 80, 72, 0.8);
    border: 1.5px solid #143C3C;
}

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

body {
    font-size: 1.6rem;
    font-family: "Public Sans",sans-serif;
}

.heading {
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

/* header */
.header {
    margin-top: 28px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* logo */
.header__top--logo {
    display: flex;
    align-items: center;
}

.header__top--name {
    font-size: 1.4rem;
}

/* nav */

.header__top--nav {
    display: flex;
    align-items: center;
}

.header__list {
    margin-right: 88px;
    display: flex;
    gap: 38px;
}

.header__link {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.line {
    margin-top: 13px;
    display: block;
    max-width: 1140px;
    height: 2px;
    background: linear-gradient(90deg, #FFF 0%, #DDDCDC 51.09%, rgba(212, 212, 212, 0.00) 99.68%);
}

.header__top--3-line {
    display: none;
}

.line::before {
    margin: 0 auto;
    content: "";
    display: block;
    width: 16px;
    height: 2px;
    background: var(--Primary-color-black-green);
}

.title__all {
    display: flex;
    align-items: center;
}

.title__all--heading {
    margin-left: 21px;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.title__all--straight::after {
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: var(--Primary-color-black);
}

.arrow {
    display: block;
}
/* header body */
.header__body {
    margin-top: 60px;
    padding-bottom: 164px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__body--content {
    width: 34.4%;
}

.header__content--heading {
    font-family: "Public Sans";
    width: 368px;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2; /* 120% */
}

.header__content--desc {
    margin-top: 20px;
    color: var(--text-color-black-gray);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.header__content--button {
    margin-top: 42px;
    display: flex;
    align-items: center;
    gap: 36px;
}

.Get-in-touch {
    font-family: "Public Sans";
    padding: 15px 35px;
    border-radius: 40px;
    background: var(--Primary-color-black-green);
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55;
}

.header__button--Watch-Video,
.header__button--icon {
    display: flex;
    align-items: center;
}

.header__button--icon {
    position: relative;
    margin-right: 15px;
}

.header__button--circle::before {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(131, 161, 125, 1);
}

.header__button--playicon {
    position: absolute;
    left: 20px;
}

.header__button--text {
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

/* header__body images */

.header__body--images {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__body--img {
    width: 202px;
    height: 466px;
    border-radius: 110px;
    object-fit: cover;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.75);
}

.header__body--img:nth-of-type(2) {
    position: relative;
    top: 77px;
}

/* header__logo-branch */

.header__logo-branch {
    margin-top: 43px;
    padding: 0 122px;
    height: 201px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--Primary-color-black-green);
    background-color: var(--Scondery-color-light-green);
    border-radius: 100.5px;
}

.logo__name--item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.header__logo--Google {
    font-family: Poppins;
    font-size: 3.1rem;
    font-weight: 500;
}

.header__logo--slack {
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 600;
}

.header__logo--Agworld {
    color: #163C35;
    font-family: Poppins;
    font-size: 2.6rem;
    font-weight: 400;
}

.header__logo--RioTinto {
    font-family: "Sonsie One";
    font-size: 2.3rem;
    font-weight: 400;
}

.header__logo--HEROKU {
    font-family: Poppins;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 1.995px;
}


.services {
    margin-top: 144px;
}

.service__top {
    margin-top: 12px;
}

.service__heading {
    width: 520px;
}

/* services body list */

.service__list {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.service__item {
    border-radius: 20px;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}

.service__item:hover {
    position: relative;
    top: 10px;
    cursor: pointer;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.9);
}

.service__item--img {
    width: 370px;
    height: 318px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.service__item--content {
    padding: 24px 18px;
}

.service__item--heading {
    color: var(--Primary-color-black, #152427);
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__item--desc {
    margin-top: 18px;
    max-width: 268px;
    color:  #7D8188;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7; /* 171.429% */
}

/* about us */
.about-us {
    margin-top: 150px;
    padding-bottom: 160px;
    display: flex;
    justify-content: space-between;
}

.about-us__main {
    display: flex;
    justify-content: space-between;
}

.about-us__part--left {
    position: relative;
}

.about-us__images {
    display: flex;
    gap: 21px;
}

.about-us__img:first-child {
    position: relative;
    top: 77px;
}

.about-us__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    border-radius: 210px;
    box-shadow: 0 4px 234px 11px rgba(59, 137, 71, 0.25);
}

/* about us card */
.about-us-card {
    position: absolute;
    z-index: 10;
    left: 80%;
    bottom: -68px;
    width: 143px;
    padding: 19px 23px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 7px 54px 0 rgba(154, 154, 154, 0.5);

}

.about-us__card--heding {
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;/* 100% */   
}

.about-us__card--desc {
    margin-top: 8px;
    color: var(--text-color-black-gray);
    font-family: "Public Sans";
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4; /* 140% */
    opacity: 0.4;
}

.about-us__card--number {
    margin-top: 10px;
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-us__card--line {
    margin-top: 3px;
    display: block;
    width: 96px;
    height: 2px;
    border-radius: 10px;
    background: #EAEAEA;
}

.about-us__card--word {
    margin-top: 3px;
    text-align: right;
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-us__card--circle {
    margin-top: 6px;
    display: flex;
    align-items: center;
}

.about-us__circle-big::before {
    position: relative;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #EAEAEA;
}

.about-us__circle-small::after {
    position: absolute;
    left: 26px;
    top: 107px;
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--Primary-color-black-green);
}

.about-us__card--team {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-us__card--list {
    display: flex;
}

.about-us__card--team-word {
    margin-right: 30px;
    color: var(--Primary-color-black);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4; /* 140% */
}

.about-us__card--member {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFF;
}

.about-us__card--member:nth-child(2), 
.about-us__card--member:nth-child(3), 
.about-us__card--member:nth-child(4) {
    margin-left: -8px;
}

/* about us body */
.aboutus__body {
    max-width: 483px;
    margin-left: 55px;
}

.about-us__heading {
    margin-top: 20px;
}

.about-us__desc {
    margin-top: 11px;
    color: var(--text-color-light-gray);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.625; /* 162.5% */
}

.about-us__info {
    padding: 36px 0 14px;
    display: flex;
    align-items: center;
}

.about-us__info--number {
    margin-right: 24px;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1.23; /* 123.81% */
}

.about-us__info--desc {
    color: var(--text-color-light-gray);
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7; /* 171.429% */
}

hr {
    height: 0.5px;
    background-color: var(--text-color-light-gray);
}

/* process part */

.process {
    margin-top: 36px;
    position: relative;
}

.process__heading {
    max-width: 477px;
}

.process__step--image {
    position: absolute;
    right: 20%;
    top: 0;
    width: 450px;
    height: 444px;
    object-fit: cover;
}

.process__step--list {
    margin-top: 138px;
}

.process__step--name {
    display: flex;
    align-items: center;
    gap: 64px;
}

.process__step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 57px 0 54px 20px;
    border-bottom: 3px solid #83A17D;

}

.process__step:hover {
    background-color: #E2EDDF;
    border-radius: 33px;
    border: none;
}

.process__step--number {
    color: var(--Primary-color-black-green);
    font-family: Poppins;
    font-size: 7.2rem;
    font-weight: 600;
}

.process__step--link {
    margin-top: 22px;
    display: block;
    color:  #575D5E;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;
    text-decoration: underline; /* 100% */   
}

.process__step--heading {
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.process__step-desc {
    width: 572px;
    color: #7D8188;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

/* feature */

.feature {
    margin-top: 150px;
    padding-top: 116px;
    padding-bottom: 63px;
    background: var(--Primary-color-black-green);
}

.feature__top {
    display: flex;
    justify-content: space-between;
}

.feature__heading {
    color: #E7F9F9;
    margin-right: 92px;
    width: 457px;
}

.feature__desc {
    width: 550px;
    color:  #6A8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.feature__content--link {
    margin-top: 13px;
    display: flex;
    align-items: center;
}

.feature__link--acess {
    margin-right: 26px;
    color: #FFF;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.feature__media {
    position: relative;
}

.feature__img {
    margin-top: 65px;
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.feature__circle--play {
    position: absolute;
    top: 278px;
    left: 45%;
}

.feature__circle::after {
    content: "";
    display: block;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.5;
}

.feature__icon--play {
    position: relative;
    bottom: 74px;
    left: 50px;
}

/* service features  */
.service__feature {
    margin-top: 140px;
}

.service__feature--heading {
    margin: 0 auto ;
    text-align: center;
    max-width: 520px;
}

.service__feature--desc {
    margin: 20px auto 0;
    max-width: 547px;
    text-align: center;
    color: #7D8188;
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.62; /* 162.5% */
}

.service__feature--all-card {
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
    max-height: 421px;
}

.service__card--item {
    width: 350px;
    height: 362px;
    border-radius: 160px;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.20);  
    padding: 80px 27px 74px 37px;
}

.service__card--item:hover {
    scale: calc(1.1);
    cursor: pointer;
    box-shadow: 0 36px 100px 0 rgba(111, 120, 111, 0.9);
}
.service__card--icon {
    width: 39px;
    height: 35px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.service__card--title {
    margin-top: 26px;
    text-align: center;
    color: #152427;
    font-family: Poppins;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.service__card--desc {
    margin-top: 12px;
    color: #7D8188;
    text-align: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.71; /* 171.429% */
}

/* blog */

.blog {
    margin-top: 184px;
}

.blog__top {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.blog__heading {
    max-width: 520px;
}

.blog__title {
    position: relative;
    top: 50px;
    max-width: 392px;
}

/* blog body */

.blog__body--list {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.blog__body--item {
    border-radius: 40px 40px 0 0;
}

.blog__item--img {
    width: 360px;
    height: 317px;
    border-radius: 40px 40px 0 0;
    object-fit: cover;
}

.blog__item--content {
    margin-top: 33px;

}

.blog__item--title {
    padding: 7px 34px;
    color: var(--Primary-color-black);
    background: var(--Scondery-color-light-green);
    border-radius: 20px;
    color: var(--Primary-color-black);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
}

.blog__item--heading {
    margin-top: 20px;
    padding-bottom: 38px;
    color: var(--Primary-color-black-green);
    text-align: left;
    max-width: 346px;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.blog__item--time {
    padding-top: 16px;
    border-top: 1px solid #C4C4C4;
    color: var(--text-color-black-gray);
    font-family: Poppins;
    text-align: right;
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}

/* blog item hover */
.blog__body--item:hover {
    scale: calc(1.1);
    box-shadow: 0 12px 74px 0 rgba(91, 91, 91, 0.5);
}

.blog__body--item:hover .blog__item--content {
    padding: 0 33px 12px;
}

.blog__body--item:hover .blog__item--title {
    color: var(--Scondery-color-light-green);
    background: var(--Primary-color-black-green);
}

.blog__body--item:hover .blog__item--heading {
    max-width: 280px;
}

/* footer */

.footer {
    margin-top: 102px;
    padding: 72px 0 50px;
    background-color: var(--Primary-color-black-green);
}

.footer__body {
    display: flex;
    padding: 72px 45px;
    justify-content: space-between;
    align-items: center;
}

/* footer left */

.footer__left--heading {
    color: #FFF;
    font-family: Poppins;
    font-size: 3.2rem;
    font-weight: 500;
}

.footer__left--active {
    margin-top: 25px;
    padding-bottom: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 354px;
    border-bottom: 1px solid #6A8383;
}

.footer__left--form {
    color:  #6A8383;
    font-family: Poppins;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    border: none;
    background-color: var(--Primary-color-black-green);
}

.footer__left--arrow {
    margin-right: 13px;
}

.footer__left--icon {
    margin-top: 47px;
    display: flex;
    gap: 22px;
}


.footer__left--img-insta {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid #FCFCFC;
}

.footer__left--images {
    display: flex;
}

.footer__left--img-fb {
    position: relative;
    top: 17px;
    right: 30px;
    width: 8.432px;
    height: 21.081px;
}

.footer__left--img-bird {
    position: relative;
    top: 17px;
    right: 37px;
    width: 25.297px;
    height: 18.551px;
}

.footer__left--circle {
    display: block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #265252;
}

.footer__left--img-insta {
    position: relative;
    top: 17px;
    right: 35px;
}


.footer__left--img-insta::before {
    position: relative;
    left: 3px;
    top: 3px;
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 0.5px solid #FCFCFC;
}

.footer__left--circle:hover {
    background-color: rgba(167, 83, 37, 1);
}

/* footer right */
.footer__right--list {
    display: flex;
    gap: 50px;
}

.footer__right--title {
    color:  #FFF;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.55; /* 155.556% */
}

.footer__right--item-list {
    margin-top: 6px;
}

.footer__item--name a {
    color: #ddd7d7;
    display: block;
    padding: 14px 0;
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2; /* 120% */
}
